<link rel="stylesheet" href="/css/jquery.datetimepicker.css"/>
<script type="text/javascript" src="/js/jquery.datetimepicker.js"></script>

<style>
  .box
  {
      width:1000px;
      margin:auto;

  }
</style>


<!--ajax 提交form-->
<div class="box">

    <h3>ajax提交form</h3>
    <form id="form1">
      <span>消息:</span><input name="msg" value="msg">
    </form>
    <button id="form1_btn">提交</button>
</div>

<div class="box">
    <h3>time picker(时间选择器)</h3>
    <form>
      label:<input id="datePicker" value="">
    </form>
</div>


<div class="box" id="test1">

</div>

<script>
    $(function(){

        <!--ajax 提交form-->
        $("#form1_btn").on("click",function(){
            $.ajax({
                type: "POST",
                url:"/jstest/ajax1",
                data: $("#form1").serialize(),// 你的formid
                async: false,
                error: function(request) {
                    alert("error");
                },
                success: function(data) {
                    alert(JSON.stringify(data));
                }
            });
            return false;
        });
        <!--ajax 提交form end -->


    });


    $('#datePicker').datetimepicker({
        timepicker:false,
        format:'Y-m-d',
        formatDate:'Y-m-d'
    });

    $.ajax({
        type: "POST",
        url:"/jstest/ajax1",
        data: {"msg":1211134},// 你的formid
        async: false,
        beforeSend:function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},//有的请求必须要csrf-token，不然服务器会重置session，需要重新登录
        error: function(request) {
            alert("error");
        },
        success: function(data) {
            console.log(JSON.stringify(data));

            $("#test1").html(JSON.stringify(data));
        }
    });

</script>