<!DOCTYPE html>
<html>
<head>
    <style>
        div{
            width:100px;
            height: 100px;
            background-color: red;
            /*position: static;  对left top没有用*/
            position:relative   ; /*对left top没有用*/
            left:10px;
            top:30px;
            opacity:0.1
        }

        div span
        {
            display: block;
            margin: auto;
            color:white;

        }
    </style>
</head>

<body>
  up here
  <div>
       <span> hey guy </span>
  </div>
  here

</body>
</html>
